*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


.container-100{
    width: 100%;
    margin: auto;
    text-align: center;}